<% content_for :title do %>About<% end %>

<h3>About Foobar Kadigan</h3>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio vero ipsum aperiam totam error. Ducimus, incidunt, magnam cum adipisci delectus in distinctio est quae architecto maiores accusantium nam doloribus quidem!
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, deleniti, eum, a atque sunt eaque recusandae omnis dolorum odio voluptatem tempora laborum officiis itaque optio perspiciatis dolores repudiandae. Nemo, ratione.
</p>